@import "../utils/index.css"; /*import das coisas genéricas que tem em todas as páginas*/
@import "../components/status_bar.css";
@import "../components/bottom_navbar.css";
@import "../components/movie.css"

